@use "../variables" as vars;
@use "../mixins" as mixins;

.navbar {
  width: 100%;
  height: vars.$nav-height;

  background-color: vars.$clr-cream;

  padding-inline: vars.$padding-x;
}

.navbar__wrapper {
  // max-width: vars.$max-width;
  height: 100%;
  // margin-inline: auto;

  @include mixins.flexy(space-between, center);
}

.navbar__wrapper > * {
  @include mixins.flexy(center, center);
  gap: vars.$gutter-s;
}

.navbar__logo {
  font-size: vars.$fs-2;
  font-weight: 500;
}

.navbar__link {
  font-size: vars.$fs-0;
  color: vars.$clr-black;

  @include mixins.my_transition(color);
}

.navbar__link:hover {
  color: vars.$clr-primary;
}

.navbar__iconsContainer {
  @include mixins.flexy(center, center);
  gap: vars.$gutter-m;
}

.navbar__icon {
  font-size: vars.$fs-1;
}
