@use "../../variables" as vars;
@use "../../mixins" as mixins;

.footer {
  background-color: vars.$clr-gray;

  padding-block: vars.$gutter-l;
  padding-inline: vars.$padding-x;

  width: 100%;

  @include mixins.flexy(space-between, center);
}

.footer__socials {
  @include mixins.flexy(space-around, center);
}
