@use "../../variables" as vars;

.benefits {
  margin-block: vars.$gutter-2xl;
  padding-inline: vars.$padding-x;
  &__wrapper {
    margin-block: vars.$gutter-l;
    display: flex;
    gap: vars.$gutter-m;
  }
}

.benefitsCard {
  text-align: center;

  &__icon {
    font-size: vars.$fs-2;
    color: vars.$clr-primary;
  }
  &__title {
    color: vars.$clr-secondary;
    font-size: vars.$fs-1;
    margin-bottom: 7px;
    font-weight: 500;
  }
  &__text {
    color: vars.$clr-black;
    text-align: center;
    font-weight: 300;
  }
}
