@use "../../variables" as vars;
@use "../../mixins" as mixins;

.testimonials {
  margin-block: vars.$gutter-2xl;
  padding-inline: vars.$padding-x;
}

.testimonials__wrapper {
  margin-block: vars.$gutter-l;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: vars.$gutter-m;
}

.testimonials__card {
  background-color: vars.$clr-white;
  border-radius: vars.$border-radius;
  padding: vars.$gutter-s;
  box-shadow: vars.$shadow;
  @include mixins.flexy(space-between, flex-start, column);
  @include mixins.my_transition(box-shadow, scale);
  &:hover {
    box-shadow: vars.$shadow-active;
    scale: 1.05;
  }
  hr {
    margin-block: vars.$gutter-s;
    width: 100%;
    border: 1px solid vars.$clr-primary;
  }
}

.testimonials__rating {
  color: vars.$clr-primary;
  margin-bottom: vars.$gutter-s;
}
.testimonials__text {
  font-size: vars.$fs-0;
  color: vars.$clr-black;
  font-weight: 300;
}
.testimonials__customer {
  font-size: vars.$fs-0;
  color: vars.$clr-primary;
  font-weight: 500;
}
