@use "../styles/variables" as vars;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: vars.$clr-cream;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

input[type="checkbox"],
input[type="radio"],
input[type="range"] {
  accent-color: vars.$clr-primary;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
