@use "../styles/normalize";
@use "../styles/variables" as vars;
@use "../styles/components/SharedLayout/Navbar.scss";
@use "../styles/components/SharedLayout/Footer.scss";
@use "../styles/_imports/home.scss";
@use "../styles/_imports/about.scss";
@use "../styles/components/ProductCard.scss";
@use "../styles/components/SectionTitle.scss";

/* total width */
body::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: vars.$clr-cream;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: vars.$clr-primary;
  border-radius: 1rem;
  border: 0.3rem solid transparent;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

html {
  scrollbar-gutter: stable;
}

.main {
  min-height: calc(100vh - vars.$nav-height - vars.$footer-height);
}
